.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.header__menu {
  width: 24px;
  height: 18px;
  background: url(/img/mobile/header/menu-mobile.png);
  cursor: pointer;
}

.hero {
  position: relative;
  text-align: center;
}

.hero__bg-wrap {
  position: absolute;
  width: 100%;
  background-color: #5eaa2f;
  z-index: -1;
}

.hero__bg {
  max-width: 100%;
}

.hero__title {
  max-width: 250px;
  width: 100%;
  margin: 25px auto;
  font-size: 26px;
  line-height: 26px;
  font-weight: normal;
  color: white;
}

.hero__subtitle {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 30px;
}

.main {
  padding-left: 20px;
  padding-right: 20px;
}

.main__green-btn:hover {
  background-color: #5eaa2f;
}

.main__green-btn:active {
  background-color: #5eaa2f;
}

.main__green-btn {
  display: inline-block;
  width: 100%;
  padding: 14px 26px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #68b738;
}

.main__green-btn:focus span {
  opacity: 0.3;
}

.main__green-btn span {
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald-Regular", serif;
}

.program-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.program-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 0px 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  font-family: oswald-regular, PT-sans, sans-serif;
  background-color: #f2f2f2;
}

.program-info__title {
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  font-size: 20px;
  line-height: 37px;
  text-transform: uppercase;
}

.program-info__desc {
  margin-top: 25px;
  margin-bottom: 0;
  padding-bottom: 25px;
  padding-left: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.program-info__btn {
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}

.program-info__btn:hover span {
  background: url(/img/mobile/main/icon_arrow_long.png) right no-repeat;
}

.program-info__btn:focus span {
  opacity: 0.3;
}

.program-info__btn span {
  background: url(/img/mobile/main/icon_arrow_short.png) right no-repeat;
  padding-right: 45px;
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("./fonts/Oswald-Regular.woff2") format("ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Oswald-Regular", serif;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid red;
}

a {
  text-decoration: none;
}
