@charset "UTF-8";
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.header__menu {
  width: 24px;
  height: 18px;
  background: url(/img/mobile/header/menu-mobile.png);
  cursor: pointer;
}

.hero {
  position: relative;
  text-align: center;
}

.hero__bg-wrap {
  position: absolute;
  width: 100%;
  background-color: #5eaa2f;
  z-index: -1;
}

.hero__bg {
  max-width: 100%;
}

.hero__title {
  max-width: 250px;
  width: 100%;
  margin: 25px auto;
  font-size: 26px;
  line-height: 26px;
  font-weight: normal;
  color: white;
}

.hero__subtitle {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 30px;
}

.main__green-btn:hover {
  background-color: #5eaa2f;
}

.main__green-btn:active {
  background-color: #5eaa2f;
}

.main__green-btn {
  display: inline-block;
  width: 100%;
  padding: 14px 26px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #68b738;
}

.main__green-btn:focus span {
  opacity: 0.3;
}

.main__green-btn span {
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald-Regular", serif;
}

.program-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.program-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 0px 20px;
  font-size: 14px;
  line-height: 18px;
  font-family: oswald-regular, PT-sans, sans-serif;
  background-color: #f2f2f2;
}

.program-info__title {
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  font-size: 20px;
  line-height: 37px;
  text-transform: uppercase;
}

.program-info__desc {
  margin-top: 25px;
  margin-bottom: 0;
  padding-bottom: 25px;
  padding-left: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.program-info__btn {
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}

.program-info__btn:hover span {
  background: url(/img/mobile/main/icon_arrow_long.png) right no-repeat;
}

.program-info__btn:focus span {
  opacity: 0.3;
}

.program-info__btn span {
  background: url(/img/mobile/main/icon_arrow_short.png) right no-repeat;
  padding-right: 45px;
}

.features {
  padding-bottom: 25px;
}

.features__title {
  margin: 0 0 30px 0;
  font-family: Oswald-regular, PT-sans,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__icon {
  max-width: 60px;
  width: 100%;
  padding: 13px;
  margin-right: 20px;
  text-align: center;
  background-color: #68b738;
}

.features__text {
  margin: 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.example-wrapper {
  background-color: #eaeaea;
}

.example-wrapper .container {
  padding-top: 25px;
}

.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.example__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: Oswald-regular, PT-sans, sans-serif;
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
}

.example__price-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Oswald-regular, PT-sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.example__image {
  text-align: center;
}

.example__image img {
  width: 100%;
}

.example-progress {
  position: relative;
  width: 30%;
  margin: 0 auto;
  padding: 3px  6px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.example-progress::before, .example-progress::after {
  position: absolute;
  font-family: oswald-regular,sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example-progress::before {
  position: absolute;
  content: "было";
  font-family: oswald-regular,sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  left: -55px;
  top: -3px;
}

.example-progress::after {
  position: absolute;
  content: "стало";
  right: -60px;
  top: -3px;
}

.example-progress__inner {
  padding: 3px 17px;
  width: 50%;
  background-color: #68B738;
  border-radius: 6px;
}

.example-results-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 280px;
  width: 100%;
  margin-bottom: 35px;
}

.example-results-wrapper .example-results {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 124px;
  width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  z-index: 2;
}

.example-results-wrapper .example-results__big-text {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Oswald-regular, PT-sans, sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example-results-wrapper .example-results__small-text {
  position: absolute;
  max-width: 87px;
  width: 100%;
  text-align: center;
  background-color: #eaeaea;
  bottom: -15px;
  font-family: Arial;
  font-size: 12px;
  line-height: 12px;
  z-index: 3;
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("./fonts/Oswald-Regular.woff2") format("ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Oswald-Regular", serif;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid red;
}

a {
  text-decoration: none;
}
