.main {
  padding-left:  20px;
  padding-right: 20px;

  &__green-btn:hover {
    background-color: #5eaa2f;
  }

  &__green-btn:active {
    background-color: #5eaa2f;
  }
  &__green-btn {
    display: inline-block;
    width: 100%;
    padding: 14px 26px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;

    //line-height: 40px; //верный ли это способ задать высоту кнопке?//
    color: white;
    background-color: #68b738;

    &:focus {
      span {
        opacity: 0.3;
      }
    }
    span {
      font-size: 14px;
      line-height: 18px;
      font-family: "Oswald-Regular", serif;
    }
  }
}
