.program-info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}

.program-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 20px 0px 20px;
  font-size: 14px;
  line-height: 18px;
  font-family: oswald-regular, PT-sans, sans-serif;
  background-color: #f2f2f2;
  &__title {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
    font-size: 20px;
    line-height: 37px;
    text-transform: uppercase;
  }
  &__desc {
    margin-top :25px;
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-left: 10px;
    border-bottom: 1px solid #d9d9d9;
  }
  &__btn {
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 16px;
    //font-family: Oswald-regular; мне кажется или дефолтный шрифт более похож на макетный чем этот?
    text-transform: uppercase;
    color: black;
    
    &:hover {
      span {
        background: url(/img/mobile/main/icon_arrow_long.png) right no-repeat;
      }
    }

    &:focus {
       span {
          opacity: 0.3;
       }
    }

    span {
      background: url(/img/mobile/main/icon_arrow_short.png) right no-repeat;
      padding-right: 45px;
    }
  }
}