@import "_header";
@import "_hero";
@import "_main";
@import "_program-info";
@import "_features";
@import "_example";
@import "_map";
@import "_footer";

@font-face {
  font-family: "Oswald-Regular";
  src: url("./fonts/Oswald-Regular.woff2") format("ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Oswald-Regular", serif;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid red;
}

a {
  text-decoration: none;
}
