.example-wrapper {
   background-color: #eaeaea;
  .container {

    padding-top: 25px;
    padding-bottom: 40px ;
  } 
}

.example {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  &__title {

    margin: 0;
    margin-bottom: 25px;
    font-family: Oswald-regular, PT-sans, sans-serif;
    font-size: 36px;
    line-height: 40px;
  }

  &__text {
    margin: 0;
    margin-bottom: 25px;
  }

  &__price-text {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Oswald-regular, PT-sans, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  &__image {
    text-align: center;

    img {
      max-width: 278px;
     width: 100%;
    }
  }

  &-progress {// как понять что лучше? здесь делать паддинги или сделать марджины блоку снизу?
    position: relative;
    width: 30%;
    margin: 0 auto;
    padding: 3px  6px;
    border: 1px solid #cdcdcd;
    border-radius: 6px;

    &::before,&::after{
      position: absolute;
      font-family: oswald-regular,sans-serif;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
    }

    &::before {
      position: absolute;
      content: "было";
      font-family: oswald-regular,sans-serif;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      left: -55px;
      top: -3px;
    }
    &::after {
      position: absolute;
      content: "стало";
      right:-60px ;
      top: -3px;
    }
    &__inner{
      padding: 3px 17px;
      width: 50%;
      background-color: #68B738;
      background-color: red;
      border-radius: 6px;
    }
  
  }
}

.example-results-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  width: 100%;
  margin-bottom: 35px;

  .example-results {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 124px;
    width: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    z-index: 2;

    &__big-text {
      padding-top: 15px;
      padding-bottom: 15px;
      font-family: Oswald-regular, PT-sans, sans-serif;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;
    }

    &__small-text {
      position: absolute;
      max-width: 87px;
      width: 100%;
      text-align: center;
      background-color: #eaeaea;
      bottom: -15px;
      font-family: Arial;
      font-size: 12px;
      line-height: 12px;
      z-index: 3;
    }
  }
}
