.features {
  padding-bottom: 25px;
  &__flex {
    @media (min-width:767px){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
      padding-right: 50px;
      padding-bottom: 0;
    }
  }

  &__title {
    margin: 0 0 30px 0;
    font-family: Oswald-regular, PT-sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    @media (min-width:767px){
      font-size: 50px;
      margin-bottom: 30px;
    }
  }

  &__list {
    border: 1px solid blue;
    display: flex;
    margin-bottom: 18px;
    align-items: center;
    @media (min-width:767px){
      display: inline-block;
      max-width: 230px;
      width: 100%;
      margin-top: 40px;
      margin-right: 10px;
      margin-bottom: 95px;
       padding-bottom: 40px;
       background-image: url(/src/img/tablet/1.png);
       background-repeat: no-repeat;
       background-position: top;
       background-size: auto 100%;
    }
  }

  &__list:nth-child(2) {
    @media (min-width:767px) {
      margin-right: 0;
      background-image: url(/src/img/tablet/2.png);
      background-size: auto 100%;
    }
  }
   &__list:nth-child(3) {
    @media (min-width:767px) {
      background-image: url(/src/img/tablet/3.png);
      background-size: auto 100%;
    }
  }
  &__list:last-child {
    @media (min-width:767px) {
      margin-right: 0;
      background-image: url(/src/img/tablet/4.png);
      background-size: auto 100%;
    }
  }

  &__icon {
    max-width: 60px;
    width: 100%;
    padding: 13px; // нужно отдельно задавать каждой иноке падинги??? потому что размер иконок разный а значит и ровных  зеленых квадратов 60х60 у меня не получится ! как быть. ///// вопрос по поводу падингов что браузеру приходится читатать указанные нули. но если я нули не ставлю а пишу падинг райт и падинг лефт то в инсп.элементов браузер автоматом прописывает 0 а значит и читает их!?
    margin-right: 20px;
    text-align: center;
    background-color: #68b738;
   @media (min-width:767px){
     max-width: 80px;
     padding: 23px 20px;
     margin-bottom: 30px;
   }
  }

  &__text {
    margin: 0;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
  }
  
}
 