.features {
  padding-bottom: 25px;
  &__list {
    @media (min-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      padding-bottom: 0;
    }
  }
  &__item {
    display: flex;
    margin-bottom: 18px;
    align-items: center;
    @media (min-width: 767px) {
      display: inline-block;
      max-width: 50%;
      width: 100%;
      margin-top: 40px;
      padding-bottom: 40px;
      background-image: url(/src/img/tablet/1.png);
      background-repeat: no-repeat;
      background-position: top;
      background-size: auto 100%;
    }
    @media (min-width:1200px) {
     max-width: 25%; 
    }
  }
  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    @media (min-width: 767px) {
      max-width: 230px;
      width: 100%;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }

  &__item:nth-child(2) {
    @media (min-width: 767px) {
      margin-right: 0;
      background-image: url(/src/img/tablet/2.png);
      background-size: auto 100%;
    }
  }
  &__item:nth-child(3) {
    @media (min-width: 767px) {
      margin-bottom: 0;
      background-image: url(/src/img/tablet/3.png);
      background-size: auto 100%;
    }
  }
  &__item:last-child {
    @media (min-width: 767px) {
      margin-right: 0;
      margin-bottom: 0;
      background-image: url(/src/img/tablet/4.png);
      background-size: auto 100%;
    }
  }

  &__title {
    margin: 0 0 30px 0;
    font-family: "Oswald", PT-sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    @media (min-width: 767px) {
      font-size: 50px;
      margin-bottom: 30px;
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__icon {
    max-width: 60px;
    width: 100%;
    padding: 13px; // нужно отдельно задавать каждой иноке падинги??? потому что размер иконок разный а значит и ровных  зеленых квадратов 60х60 у меня не получится ! как быть. ///// вопрос по поводу падингов что браузеру приходится читатать указанные нули. но если я нули не ставлю а пишу падинг райт и падинг лефт то в инсп.элементов браузер автоматом прописывает 0 а значит и читает их!?
    margin-right: 20px;
    text-align: center;
    background-color: #68b738;
    @media (min-width: 767px) {
      max-width: 80px;
      padding: 23px 20px;
      margin-bottom: 30px;
    }
  }

  &__text {
    margin: 0;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #444444,;
    @media (min-width: 767px) {
      font-size: 16px;
    }
  }
}
