.footer {
   display: flex;
   flex-direction: column;
   min-width: 130px;
   @media (min-width:767px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 30px 30px;
   }
   &__logo {
      padding-top: 40px;
      padding-bottom: 30px;
      border-bottom:1px solid #D9D9D9;
      text-align: center;
      @media (min-width:767px) {
         max-width: 105px;
         width: 100%;
         text-align: start;
         border: none;
      }
   }
   &__social {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding: 20px 0;
      min-width: 120px;
      width: 100%;
      border-bottom:1px solid #D9D9D9;
      @media (min-width:767px) {
         align-items: center;
         max-width: 130px;
         width: 100%;
         margin: 0;
         border: none;
      }
   } 
   &-social__item {
      display: inline-block;
      width: 30px;
      height: 20px;
      background-image: url(/src/img/mobile/footer/social_icons.png);
      background-position: 4px;   //не сбивает ли это столку?
      cursor: pointer;
      &:nth-child(2){
      background-position: -46px;
      }
      &:last-child {
      background-position: 30px;
      }
   }
    &__copyright {
       display: flex;
       justify-content: space-between;
       align-items: center;;
       padding-top: 23px;
       padding-bottom: 23px;
       @media (min-width:767px) {
          max-width: 163px;
          width: 100%;   
       }
       &-text {
       font-family: Arial, Helvetica, sans-serif;
       font-size: 16px;
       font-weight: 500;
       color: #444444;  
       
       }
       &-link {
          width: 27px;
          height: 34px;
          background-image: url(/src/img/mobile/footer/html_academy.png);
       }
    }
}


