.header {

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  &__menu {
    width: 24px;
    height: 18px;
    background: url(../src/img/mobile/header/menu-mobile.png);
    cursor: pointer;
  }
}
