.hero {
  
 // border: 3px solid blue;
  position: relative;
  text-align: center;
  color: white;
  @media (min-width: 767px) {
    min-height: 700px;
    text-align: start;
    color: black;
    background: url(/src/img/desktop/index-can.png) no-repeat bottom;
  }
  
  @media (min-width:1200px) {
    display: flex;
  justify-content: space-between;
  align-items: center;
  }

  &__bg-wrap {
   // border: 3px solid yellow;
    position: absolute;
    width: 100%;
    background-color: #64A83B;
    z-index: -1;
    @media (min-width:1200px) {
      width: 50%;
      text-align: right;;
      position: static;
      order: 1;
    }
  }

  &__bg {
   // border: 2px solid red;
    max-width: 100%;
    @media (min-width: 767px) {
      display: none;
    }
    @media (min-width:1200px) {
      display: inline;
      max-width: 100%;
      
    }
  }
  &__title {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 0;
    font-size: 36px; 
    line-height: 36px; 
    font-weight: normal;
    font-family: "Oswald", sans-serif;
    @media (min-width: 767px) {
      margin-left: 0;
      font-size: 60px;
      line-height: 50px;
      max-width: 520px;
    }
  }
  &__subtitle {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;
    @media (min-width: 767px) {
      width: 100%;
      margin-bottom: 40px;
      font-size: 20px;
      color: black;
        
    }
  }
  &__image {   
    @media (min-width: 767px) {
      display: none;
    }
  }
  &__green-btn {
    display: block;
    padding: 12px 26px;
    margin-bottom: 20px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #68b738;
    @media (min-width: 767px) {
      display: inline-block;
      margin-top: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 20px;
    }
  }

  .container {
   // border: 2px solid black;
    @media (min-width: 767px) {
      padding-left: 120px;
    }
    @media (min-width:1200px) {
    padding-left: 190px;
  }
}
}
