.hero {
  position: relative;
  text-align: center;
  @media (min-width: 767px) {
    min-height: 800px;
    text-align: start;
    background: url(../src/img/tablet/index-can-tablet.png) no-repeat bottom;
  }

  &__bg-wrap {
    position: absolute;
    width: 100%;
    background-color: #5eaa2f;
    z-index: -1;
  }

  &__bg {
    max-width: 100%;
    @media (min-width: 767px) {
      display: none;
    }
  }
  &__title {
    max-width: 250px;
    width: 100%;
    margin: 25px auto;
    font-size: 26px; //поменять шрифт на 36 когда подключу шрифт//
    line-height: 26px; // тоже самое //
    font-weight: normal;
    color: black;
    font-family: "Oswald", sans-serif;
    @media (min-width: 767px) {
      margin: 30px 0;
      font-size: 60px;
      line-height: 50px;
      max-width: 520px;
    }
  }
  &__subtitle {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 30px;
    @media (min-width: 767px) {
      font-size: 20px;
      width: 100%;
      margin-bottom: 40px;
    }
  }
  &__image {
    @media (min-width: 767px) {
      display: none;
    }
  }
  &__green-btn {
    padding: 12px 26px;
    margin-bottom: 20px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #68b738;
    @media (min-width: 767px) {
      display: inline-block;
      margin-top: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 20px;
    }
  }
  .container {
    @media (min-width: 767px) {
      padding-left: 120px;
    }
  }
}
