.main {
 // padding-left:  20px;
 // padding-right: 20px;

  &__green-btn:hover {
    background-color: #5eaa2f;
  }

  &__green-btn:active {
    background-color: #5eaa2f;
  }
  

    &:focus {
      span {
        opacity: 0.3;
      }
    }
    span {
      font-size: 14px;
      line-height: 18px;
      font-family: "Oswald", serif;
    }
  }
