.program-info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}

.program-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding: 20px 20px 0px 20px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  background-color: #f2f2f2;
  @media (min-width: 767px) {
    padding: 70px 53px 50px;
    font-size: 16px;
  }

  &:first-child {
    margin-bottom: 20px;
    @media (min-width: 767px) {
      margin-bottom: 30px;
    }
  }
  & img {
    @media (min-width: 767px) {
      display: none;
    }
  }
  @media (min-width: 767px) {
    flex-wrap: nowrap;
    font-size: 16px;
  }

  &__title {
    display: inline-block;
    margin: 0;
    font-size: 36px;
    line-height: 37px;
    text-transform: uppercase;
  }
  &__desc {
    margin-top: 25px;
    margin-bottom: 0;
    padding-bottom: 25px;
    font-family: "arial", sans-serif;
    border-bottom: 1px solid #d9d9d9;
    @media (min-width: 767px) {
      border-bottom: none;
    }
  }
  &__image img {
    display: none;
    @media (min-width: 767px) {
      display: inline-block;
      margin-left: 15px;
    }
  }

  &__btn {
    display: inline-block;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: black;

    &:hover {
      span {
        background: url(../src/img/mobile/main/icon_arrow_long.png) right
          no-repeat;
      }
    }

    &:focus {
      span {
        opacity: 0.3;
      }
    }

    span {
      background: url(../src/img/mobile/main/icon_arrow_short.png) right
        no-repeat;
      padding-right: 45px;
      font-size: 20px;
    }
  }
}
