@import "fonts";
@import "_header";
@import "_hero";
@import "_main";
@import "_program-info";
@import "_features";
@import "_example";
@import "_map";
@import "_footer";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width:1200px) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

hr {
  display: none;
  height: 1px;
  background-color: #e6e6e6;
  border: none;
  margin-bottom: 20px;
  @media(min-width: 767px) {
    display: inline-block;
    width: 100%;
  }
  @media (min-width:1200px) {
      display: none;
    }
}
